@import "tailwindcss";

@media print {
  @page {
    size: A4 portrait;
    margin: 15mm;
  }
  
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
  
  .break-inside-avoid {
    break-inside: avoid;
    page-break-inside: avoid;
  }
  
  .break-before-page {
    break-before: page;
    page-break-before: always;
  }
}
